a {
  text-decoration: none;
  color: white;
}
#bar{
    align-self:center;
    color:white; 
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, monospace;
}

body {
  background: #fff;
}

/* Top bar */
.top-bar {
  display: flex;
  justify-content: center;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  letter-spacing: 2px;
  align-items: center;
}

.top-bar:hover {
  background: rgb(39, 39, 39);
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #111;
  color: #fff;
  display: flex;
  align-items: left;
  padding: 30px 30px;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.nav-to {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-items {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
}

.icons span {
  margin-left: 15px;
  cursor: pointer;
}
.icons:hover{
     transform: scale(1.2);
}

/* Products Grid */
.products {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
}

/* Card */
.card {
  height: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card img {
  width: 90%;
  height: auto;
  margin-bottom: 20px;
}

/* Founder Section */

.founder {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  ;
  padding: 60px 40px;
  align-items: center;
}

.founder-img img {
  width: 90%;
  padding-left: 100px;
}

/* Text */
.founder-text h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.founder-text h2 span {
  background: #eaeaea;
  padding: 4px 6px;
}

.founder-text p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

/* Button */
.founder-text button {
  padding: 14px 36px;
  background: #111;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.founder-text button:hover {

  background: #333;
  color: white;
}


/* Contact Section */
.contact {
  size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 90px;
  background: #111;
  color: lightgray;
}

.contact h2 {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.contact a {
  size: 50px;
  color: lightgray;
  padding: 20px;
  padding-top: 40px;
  text-decoration: underline;
}

.contact a:hover {
  color: white;
}

/* Footer */
.footer {
  color: lightgray;
  font-size: 14px;
  background: #111;
  color: #dfdfdfc2;
  padding-left: 10%;
  padding-top: 40px;
  padding-bottom: 30px;

  margin-top: 1px;
}

.footer a {
  gap: 5px;
  color: lightgrey;
  text-decoration: none;
}

.footer a:hover {
  color: white;
}